.element__delete {
    background-image: url(/Images/delete-icon.svg);
    width: 18px;
    height: 19px;
    margin: 6px auto;
    border: none;
    text-align: center;
    grid-area: delete;
    background-color: rgba(255, 0, 0, 0);
    z-index: 1;
}

.element__delete:hover {
    cursor: pointer;
    opacity: 0.6000000238418579;
}